mixin header(logo, title, subtitle)
    header.header
        .header__titles
            h1.header__title!= title
            h4.header__subtitle!= subtitle

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://formal.uno')
        meta(property='og:title'       content='FORMAL.UNO')
        meta(property='og:description' content='Перша формальна система')
        link(rel='stylesheet' href='https://formal.uno/main.css?v=21')
        block title
            title default

    body.content
        block vars
        block content
        footer.footer
            a(href='//github.com/groupoid/')
                img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
            span.footer__copy 2016&mdash;2021 &copy; <a href="https://5ht.co" style="color:Lavender;">Максим Сохацький</a>
        if hopf
            script(src='bundle.js?v=5')
        else
            script(src='https://formal.uno/bundle.js?v=5')
        script(src='https://groupoid.space/highlight.js?v=11')
